.header {
    .container {
        @apply px-10 pt-[22px] pb-[19px] relative;
    }

    &__inner {
        @apply flex justify-between items-center md:px-5;
    }

    &__burger {
        @apply block lg:hidden;
    }

    &__btn {
        @apply !hidden lg:!inline-block;
    }
}