@import 'header.pcss';
@import 'logo.pcss';
@import 'menu.pcss';
@import 'btn.pcss';
@import 'hero.pcss';
@import 'stats.pcss';
@import 'form.pcss';
@import 'solved-problems.pcss';
@import 'clients.pcss';
@import 'tariffs.pcss';
@import 'free-presentation.pcss';
@import 'footer.pcss';
@import 'burger.pcss';
